<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vedagram</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/carouselScript.js"></script>
<link href="css/carousel.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<div class="wrapper">
  <div class="top-strip">
    <div class="top-strip-cor1"></div>
    <div class="top-strip-cor2"></div>
    <div class="top-strip-cor3"></div>
    <div class="top-strip-cor4"></div>
    <div class="logo">
      <h1>Vedagram</h1>
      <h2>Anything Anywhere Anytime</h2>
    </div>
    <div class="search-panel">
      <div class="search-panel-cor1"></div>
      <div class="search-panel-cor2"></div>
      <div class="search-box">
        <input name="" type="text" class="search-box-input"  value="search here"/>
        <div class="search-icon"></div>
      </div>
    </div>
    
    <div class="menu">
      <ul>
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="partners.html">Partners</a></li>
        
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
	<div class="clearing"></div>
    
	
	<div class="banner-wrapper">
	
   <div id="carousel">
		<div id="slides">
				<ul>
						<li><img src="images/banner1.png"  alt="Slide 1"/></li>
						<li><img src="images/banner2.png"  alt="Slide 2"/></li>						
				</ul>
				<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="buttons"> <a href="#" id="prev">prev</a> <a href="#" id="next">next</a>
				<div class="clear"></div>
		</div>
</div>
    </div>
    <div class="clearing"></div>
  </div>
  <div class="clearing"></div>
  <!--- top strip div end -->
  <div class="panel-wrapper">
    <div class="panel marRight40">
      <div class="title">
        <h1>Track Shipment</h1>
      </div>
      <div class="imgbg">
        <div class="imgbg-corl"></div>
        <div class="imgbg-cor2"></div>
        <div class="imgbg-cor3"></div>
        <div class="imgbg-cor4"></div>
        <div class="img"><img src="images/img1.jpg"/></div>
      </div>
      <div class="content">
        <p>Track your domestic shipments with pickdrop. Just enter trackingID or Order#.</p>
      </div>
      <div class="morebutton"> <a href="#">more</a> </div>
    </div>
    <div class="panel ">
      <div class="title">
        <h1>Quick Quote</h1>
      </div>
      <div class="imgbg">
        <div class="imgbg-corl"></div>
        <div class="imgbg-cor2"></div>
        <div class="imgbg-cor3"></div>
        <div class="imgbg-cor4"></div>
        <div class="img"><img src="images/img2.jpg"/></div>
      </div>
      <div class="content">
        <p>Get FREE, no-obligation quick quotes from pickdrop® for your LTL and more!</p>
      </div>
      <div class="morebutton"> <a href="#">more</a> </div>
    </div>
  </div>
  <!--- panel wrapper div end -->
  <div class="page-wrapper">
  	<div class="primary-content marRight40">
    	<div class="panel">
        	<div class="title">
            <h1>More from Vedagram</h1>
            </div>
            <div class="left marRight30">
            <div class="imgbg">
            <div class="imgbg-corl"></div>
            <div class="imgbg-cor2"></div>
            <div class="imgbg-cor3"></div>
            <div class="imgbg-cor4"></div>
            <div class="img"><img src="images/img3.jpg" /></div>
            </div>
        </div>
		<div class="right">
            <p><span>eNews</span><br/>Vedagram eNews provides you with the latest regulations, interesting insights on Vedagram products and services and useful shipping tips & tricks.
</p>
            </div>
    </div>
	
	  	<div class="panel bdrBottom">
        	
            <div class="left marRight30">
            <div class="imgbg">
            <div class="imgbg-corl"></div>
            <div class="imgbg-cor2"></div>
            <div class="imgbg-cor3"></div>
            <div class="imgbg-cor4"></div>
            <div class="img"><img src="images/img4.jpg" /></div>
            </div>
        </div>
		<div class="right">
            <p><span>New Customer Center</span><br/>Visit our New Customer Center for useful tools to get started with Vedagram: Learn how to order supplies, ship and print, pack and track, and more.
</p>
            </div>
    </div>
	
  </div>
  <div class="sidebar">
  <div class="title">
  <h1>Recent News & Thought for the Day</h1>
  </div>
  <div class="left marRight20">
  <div class="imgbg">
  <div class="imgbg-corl"></div>
  <div class="imgbg-cor2"></div>
  <div class="imgbg-cor3"></div>
  <div class="imgbg-cor4"></div>
  <div class="img"><img src="images/img5.jpg" /></div>
  </div>
  
  </div>
  <div class="right">
  <p><span>01. Vedagram sees good revenue growth in fiscal 2019</span><br/> </p>
<p><span>02. Customs Made Easier</span><br/></p>
<p><span>03. Rate & Transit time</span><br/></p>
  </div>
  </div>
  </div>
  <!--- page wrapper div end -->
 <div class="footer-wrapper">
 <div class="footer">
 <div class="panel marRight30">
 <div class="title">
 <h1>Open a Vedagram account</h1>
 </div>
 <div class="content">
 <p>Take advantage of our services and solutions designed to meet all of your shipping requirements. Sign up for a Vedagram shipping account below. Let’s get started!</p>
 </div>
 <div class="btnmore"><a href="#">more</a></div>
 </div>
 
  <div class="panel marRight30">
 <div class="title">
 <h1>Returns Frequently Asked Questions</h1>	
 </div>
 <div class="content">
 <p>Get all the queries answered here which includes Why to Choose Vedagram.</p>
 </div>
 <div class="btnmore"><a href="#">more</a></div>
 </div>
 
  <div class="panel">
 <div class="title">
 <h1>The Vedagram difference</h1>
 </div>
 <div class="content">
 <p>Opportunity to anybody | Making the plateform open to public | Choice | Simplicity | Savings | Live support | Peace of mind | Reassurance | We are local players</p>
 </div>
 <div class="btnmore"><a href="#">more</a></div>
 </div>
 
 </div>
 </div>
 <!--- footer wrapper div end -->
 <div class="copyright">
 <p>Copyright (c) Vedagram. All rights reserved. <a href="http://www.pickdrop.in">www.pickdrop.in</a> Site Map |  Terms of Use |  Security and Privacy: <a href="http://www.pickdrop.in">www.pickdrop.in</a></p>
 </div>
</div>
<!--- wrapper div end -->
</body>
</html>
